{% extends 'news/base.html' %}

{% block content %}
    <div class='col'>
        <h2>{{ post.title }}</h2>
        <p><b>Дата:</b> {{ post.created_date }}</p>
        <p><b>Автор:</b> {{ post.author }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        <div><b>Теги:</b>
            <ul class='tags'>
            {% for tag in post.tags_as_list %}
                <li>
                    <a href="#">
                    {{ tag }}{% if not forloop.last %},{% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}